[submodule "gpt-2"]
	path = gpt-2
	url = https://github.com/nshepperd/gpt-2.git
[submodule "ctrl"]
	path = ctrl
	url = https://github.com/salesforce/ctrl.git
[submodule "lm-human-preferences"]
	path = lm-human-preferences
	url = https://github.com/JingboWang1997/lm-human-preferences.git
